apiVersion: v1
kind: Service
metadata:
  name: api-pagamentos-service
  namespace: unifiapay
  labels:
    app: api-pagamentos
spec:
  type: ClusterIP
  selector:
    app: api-pagamentos
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: api-pagamentos-nodeport
  namespace: unifiapay
  labels:
    app: api-pagamentos
spec:
  type: NodePort
  selector:
    app: api-pagamentos
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
